rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if false;

      match /entries/{entryId} {
        allow read, write: if isOwner(userId);
      }

      match /settings/{settingsId} {
        allow get: if isOwner(userId);
        allow list: if isOwner(userId);
        allow create: if isOwner(userId);
        allow update: if isOwner(userId);
        allow delete: if isOwner(userId);
      }

      match /subscription/status {
        allow read: if isOwner(userId);
        allow write: if false;
      }

      match /subscription/usage {
        allow read: if isOwner(userId);
        allow write: if false;
      }
    }
  }
}