@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: 39 44% 96%;
    --foreground: 24 32% 18%;
    --card: 0 0% 100%;
    --card-foreground: 24 32% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 32% 18%;
    --primary: 19 51% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 15% 55%;
    --secondary-foreground: 0 0% 100%;
    --muted: 38 26% 90%;
    --muted-foreground: 26 13% 42%;
    --accent: 38 26% 90%;
    --accent-foreground: 24 32% 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 20% 81%;
    --input: 36 20% 81%;
    --ring: 19 51% 53%;
    --radius: 0.5rem;
    --chart-1: 19 51% 53%;
    --chart-2: 145 15% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 38 26% 70%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 23 22% 9%;
    --foreground: 38 30% 92%;
    --card: 31 17% 12%;
    --card-foreground: 38 30% 92%;
    --popover: 23 22% 9%;
    --popover-foreground: 38 30% 92%;
    --primary: 20 58% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 144 17% 63%;
    --secondary-foreground: 0 0% 100%;
    --muted: 29 17% 14%;
    --muted-foreground: 26 13% 57%;
    --accent: 29 17% 14%;
    --accent-foreground: 38 30% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 34 16% 20%;
    --input: 34 16% 20%;
    --ring: 20 58% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter);
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-space-grotesk);
  }
}

@layer components {
  .app-loader {
    @apply h-16 w-16 animate-spin text-foreground;
  }
}

